.mhtml-preview-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.mhtml-preview-iframe {
    width: 100%;
    height: 100%;
    border: none;
    flex-grow: 1;
    background: #fff;
}

.theme-dark .mhtml-preview-iframe {
    background: #1e1e1e;
}
